    .carousel {
        margin-top: 10px;
        margin-bottom: 64px;
        @media (min-width: 1000px) {
            .carousel-control-prev-icon {
                padding: 20px;
                margin-top: 250px;
                margin-left: 200px;
                background-color: black;
                filter: invert(1);
                height: 10%;
                min-height: 50px;
                min-width: 50px;
            }
            .carousel-control-next-icon {
                padding: 20px;
                margin-top: 250px;
                margin-right: 200px;
                background-color: black;
                filter: invert(1);
                height: 10%;
                min-height: 50px;
                min-width: 50px;
            }
        }
    }
    /* Since positioning the image, we need to help out the caption */
    
    .carousel-caption {
        bottom: 48px;
        z-index: 10;
    }
    /* Declare heights because of positioning of img element */
    
    .carousel-item {
        height: 512px;
    }
    
    @media(max-width:787px) {
        .carousel-item {
            height: 300px;
        }
        .carousel-item>img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            height: auto;
            // object-fit: cover;
        }
        .carousel {
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .carousel img {
            display: none;
        }
        .bg-img {
            background-image: url("/src/images/slider1.png");
            background-repeat: no-repeat;
            height: 300px;
            background-position: center;
            background-size: cover;
        }
        .bg-img-2 {
            background-image: url("/src/images/slider2.png");
            background-repeat: no-repeat;
            height: 300px;
            background-position: center;
            background-size: cover;
        }
        .bg-img-3 {
            background-image: url("/src/images/slider3.png");
            background-repeat: no-repeat;
            height: 300px;
            background-position: center;
            background-size: cover;
        }
    }
    
    .carousel-item>img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 512px;
    }
    
    .caption {
        font-size: 18 !important;
        font-family: 'neo-sans-arabic-medium' !important;
        height: 100px;
        width: 100%;
        background-color: #1c4261;
        color: white !important;
        opacity: 0.8;
    }
    
    .carousel-control-next,
    .carousel-control-prev
    /*, .carousel-indicators */
    
    {
        position: absolute;
        filter: invert(100%);
    }
    
    @media (min-width: 640px) {
        .carousel-caption p {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 1.4;
        }
    }
    
    .bd-placeholder-img {
        font-size: 20px;
        text-anchor: middle;
    }
    
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 56px;
        }
    }