// componets
.divider {
    padding: 0px;
    margin-top: 30px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    justify-content: space-between !important;
    margin-bottom: 10px;
    background-size: 900px;
    // background-position-y: 0;
    i {
        font-size: 30px;
        margin-top: 23px;
        color: #51b0d3;
        margin-left: 0px !important;
    }
    .hr-divider {
        background-image: url('../images/divider.png');
        background-position: center;
        background-repeat: no-repeat;
        width: 800px;
        z-index: 3;
        margin-bottom: -14px !important;
    }
    p {
        color: $secondary-color;
        font-size: 20px;
        font-weight: bold;
        margin-top: 23px;
    }
}

@media (max-width: 1200px) {
    .divider {
        .hr-divider {
            display: none;
        }
    }
}

.card {
    background-color: #f3f7fa;
    // margin: 5px;
    background-color: #f3f7fa !important;
    border: none !important;
    .section-card {
        background-color: white !important;
        border: none !important;
    }
    .card-title {
        font-size: 18px;
        color: $text-color;
    }
    .card-text {
        font-size: 16px;
    }
}

.Section {
    background-color: #f3f7fa;
}

.btn-secondColor {
    background-color: $text-color !important;
    color: white !important;
    width: 90px;
    padding: 10px;
}

// end of compents