// Variables
// colors
$base-color: #51b0d3;
$secondary-color: #1c4261;
$text-color:#1d6295;
$mobile: "max-width:768";
$desktop: 'min-width:769';
$largeScreen: 'min-width:1200';
$ipad: 'max-width:1024px';
$small_ipad: 'max-width:911px';