// start of footer
footer {
    margin-top: 70px;
    .footerbg1 {
        background-color: #f9f9f9;
    }
    .footerbg2 {
        background-color: #f2f2f2;
    }
    .footerbg3 {
        background-color: white;
    }
    .footer-up {
        padding-top: 15px;
        padding-bottom: 10px;
        i {
            font-size: 30px;
            margin: 15px;
        }
        img {
            margin-top: 15px;
            height: 50px;
            margin-right: 0px !important;
        }
        .input {
            width: 250px;
        }
    }
    .footer-down {
        padding-top: 10px;
        height: 60px;
        // .footerUl {
        //     justify-content: right;
        //     margin-right: -13 !important;
        // }
        .navLinks {
            display: flex !important;
            flex-direction: row !important;
            // justify-content: space-around !important;
            align-items: center;
        }
        .navLinks p {
            font-size: 16px !important;
            margin-right: 10px !important;
        }
        i {
            padding: 7px;
            font-size: 16px !important;
            margin: 3px;
            background-color: #51b0d3;
            color: white;
            border-radius: 50%;
        }
        li a {
            color: $text-color;
            font-size: 18px;
            font-weight: bold;
        }
    }
    .footer3 {
        color: $base-color;
        font-size: 15px;
        justify-content: space-between;
        height: 40px;
        .footerText-left {
            margin-left: 30px;
        }
        .footerText-right {
            margin-right: 40px;
        }
    }
}

@media (max-width: 600px) {
    .footer-up {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        h4 {
            margin-right: -10px !important;
        }
        img {
            margin: 10px 20px 20px 20px;
        }
        form input {
            margin-left: 30px;
            width: 200px !important;
        }
    }
    .footer-down {
        height: 200px !important;
        .footerIcons {
            order: 2;
            justify-content: center !important;
            text-align: center !important;
        }
        .footerUl {
            order: 1;
            // margin-right: 80px !important;
        }
        // ul {
        //     margin-right: 40px !important;
        // }
        // .nav-item {
        //     margin-right: 30px !important;
        // }
        .navLinks {
            display: flex !important;
            flex-direction: column !important;
            justify-content: space-around !important;
            align-items: center;
        }
        .navLinks p {
            font-size: 16px !important;
        }
        .div-margin {
            margin-left: 50px !important;
        }
        i {
            align-self: end !important;
        }
        .col-md-8 {
            margin-left: 5px;
        }
        .column1 .p1 {
            margin-right: 50px !important;
        }
        .column1 .p2 {
            margin-left: 40px !important;
        }
    }
    .footer3 {
        justify-content: center !important;
        align-items: center !important;
        height: 100px !important;
        margin-left: 20px !important;
        text-align: center !important;
    }
    .footer3 p {
        text-align: center !important;
    }
}