@import '../utilities/variables';
.navbar {
    font-size: 15px;
    font-weight: 500;
    font-weight: 500;
    .nav-item {
        margin-left: 20px;
    }
}

.icons-navbar {
    font-family: 'neo-sans-arabic-regular' !important;
    i {
        margin-left: -18px !important;
        padding: 10px;
        font-size: 17px;
        color: white;
        background-color: $text-color;
        border-radius: 50%;
    }
    img {
        height: 55px;
        width: 100%;
    }
    .box {
        font-family: 'neo-sans-arabic-regular';
        font-size: 14px !important;
        width: 249px;
        height: 46px;
        padding: 11px;
        background-color: #1d6295;
        color: white;
        border-radius: 7px;
        line-height: 0.3;
        text-align: right;
    }
}

@media (max-width: 992px) {
    .icons-navbar {
        display: none !important;
    }
}

.navbar-nav {
    text-align: center;
}

@media(max-width:900px) {
    .navbar-nav {
        text-align: right !important;
        width: 100%;
    }
    .navbar .collapse .nav-item {
        text-align: right !important;
        margin-bottom: 15px !important;
        border-bottom: 1px solid gainsboro;
        // width: 100%;
    }
}