/* RESPONSIVE CSS
-------------------------------------------------- */

// divider
@media (max-width: 992px) {
    .divider {
        .hr-divider {
            display: none;
        }
    }
}

// nav icons 
@media (max-width: 992px) {
    .icons-navbar {
        display: none !important;
    }
}

// end of nav icons 
@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

//start of footer 
@media (max-width: 600px) {
    .footer-up {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        h4 {
            margin-right: -10px !important;
        }
        img {
            margin: 10px 20px 20px 20px;
        }
        form input {
            margin-left: 30px;
            width: 200px !important;
        }
    }
    .footer-down {
        height: 200px !important;
        .footerIcons {
            order: 2;
            justify-content: center !important;
            text-align: center !important;
        }
        .footerUl {
            order: 1;
        }
        ul {
            justify-content: space-around !important;
            .ul2nd li {
                margin: 15px;
            }
        }
        i {
            align-self: end !important;
        }
    }
    .footer3 {
        margin-top: 10px !important;
        height: 100px !important;
        margin-left: 20px !important;
    }
}

//min 767
@media (min-width: 768px) {
    .text-section {
        position: relative;
        .text-content {
            position: absolute;
            right: 0;
            bottom: -40;
        }
    }
}

@media (max-width: 768px) {
    .section-card {
        margin: 15px;
    }
}

.forthSection,
.firstSection {
    @media (min-width: 768px) {
        .text-section {
            position: relative;
            display: flex;
            .text-content {
                position: absolute;
                right: 0;
                bottom: -120;
            }
        }
    }
}

.section3 {
    @media (max-width: 768px) {
        .card {
            height: 400px !important;
        }
    }
}

@media (max-width: 767px) {
    .doctors .circle {
        margin-left: auto;
        margin-right: auto;
    }
    .doctors img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 270px !important;
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    .section5 {
        .rightside .card {
            margin-top: 5px;
            margin-right: 25px;
        }
    }
    .section5 button {
        width: 100% !important;
    }
}

//form checkbox 
@media (max-width: 767px) {
    .checkbox-form {
        width: 100%;
        margin-right: 10px !important;
        .input {
            width: 100% !important;
        }
    }
}

@media (max-width: 768px) {
    .section7 .text-content7 .card-title {
        font-size: 20px !important;
        margin-top: 70px;
    }
}

@media (max-width: 768px) {
    .section7cards {
        margin-top: 230px !important;
    }
}

@media (max-width: 768px) {
    .text-section {
        position: relative;
        .text-content {
            position: absolute;
            right: 0;
            bottom: -40;
        }
    }
}

@media (max-width: 768px) {
    .rightsideDetails {
        padding: 0 !important;
        // margin-top: 50px !important;
        margin-right: 0 !important;
        margin-left: 15 !important;
        width: 100%;
    }
}