*:not(i) {
  font-family: 'neo-sans-arabic-regular';
}

.section-title {
  font-family: "neo-sans-arabic-medium" !important;
  font-size: 18px !important;
  color: #1d6295 !important;
}

.section-text {
  font-family: 'neo-sans-arabic-regular' !important;
  font-size: 16px !important;
}

@font-face {
  font-family: 'neo-sans-arabic-regular';
  src: url("../fonts/neo-sans-arabic-regular.ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'neo-sans-arabic-medium';
  src: url("../fonts/NeoSansArabic-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

.carousel {
  margin-top: 10px;
  margin-bottom: 64px;
}

@media (min-width: 1000px) {
  .carousel .carousel-control-prev-icon {
    padding: 20px;
    margin-top: 250px;
    margin-left: 200px;
    background-color: black;
    -webkit-filter: invert(1);
            filter: invert(1);
    height: 10%;
    min-height: 50px;
    min-width: 50px;
  }
  .carousel .carousel-control-next-icon {
    padding: 20px;
    margin-top: 250px;
    margin-right: 200px;
    background-color: black;
    -webkit-filter: invert(1);
            filter: invert(1);
    height: 10%;
    min-height: 50px;
    min-width: 50px;
  }
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 48px;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 512px;
}

@media (max-width: 787px) {
  .carousel-item {
    height: 300px;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
  }
  .carousel {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .carousel img {
    display: none;
  }
  .bg-img {
    background-image: url("../images/slider1.png");
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    background-size: cover;
  }
  .bg-img-2 {
    background-image: url("../images/slider2.png");
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    background-size: cover;
  }
  .bg-img-3 {
    background-image: url("../images/slider3.png");
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    background-size: cover;
  }
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 512px;
}

.caption {
  font-size: 18 !important;
  font-family: 'neo-sans-arabic-medium' !important;
  height: 100px;
  width: 100%;
  background-color: #1c4261;
  color: white !important;
  opacity: 0.8;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

@media (min-width: 640px) {
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.bd-placeholder-img {
  font-size: 20px;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 56px;
  }
}

.divider {
  padding: 0px;
  margin-top: 30px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  margin-bottom: 10px;
  background-size: 900px;
}

.divider i {
  font-size: 30px;
  margin-top: 23px;
  color: #51b0d3;
  margin-left: 0px !important;
}

.divider .hr-divider {
  background-image: url("../images/divider.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 800px;
  z-index: 3;
  margin-bottom: -14px !important;
}

.divider p {
  color: #1c4261;
  font-size: 20px;
  font-weight: bold;
  margin-top: 23px;
}

@media (max-width: 1200px) {
  .divider .hr-divider {
    display: none;
  }
}

.card {
  background-color: #f3f7fa;
  background-color: #f3f7fa !important;
  border: none !important;
}

.card .section-card {
  background-color: white !important;
  border: none !important;
}

.card .card-title {
  font-size: 18px;
  color: #1d6295;
}

.card .card-text {
  font-size: 16px;
}

.Section {
  background-color: #f3f7fa;
}

.btn-secondColor {
  background-color: #1d6295 !important;
  color: white !important;
  width: 90px;
  padding: 10px;
}

footer {
  margin-top: 70px;
}

footer .footerbg1 {
  background-color: #f9f9f9;
}

footer .footerbg2 {
  background-color: #f2f2f2;
}

footer .footerbg3 {
  background-color: white;
}

footer .footer-up {
  padding-top: 15px;
  padding-bottom: 10px;
}

footer .footer-up i {
  font-size: 30px;
  margin: 15px;
}

footer .footer-up img {
  margin-top: 15px;
  height: 50px;
  margin-right: 0px !important;
}

footer .footer-up .input {
  width: 250px;
}

footer .footer-down {
  padding-top: 10px;
  height: 60px;
}

footer .footer-down .navLinks {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-down .navLinks p {
  font-size: 16px !important;
  margin-right: 10px !important;
}

footer .footer-down i {
  padding: 7px;
  font-size: 16px !important;
  margin: 3px;
  background-color: #51b0d3;
  color: white;
  border-radius: 50%;
}

footer .footer-down li a {
  color: #1d6295;
  font-size: 18px;
  font-weight: bold;
}

footer .footer3 {
  color: #51b0d3;
  font-size: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}

footer .footer3 .footerText-left {
  margin-left: 30px;
}

footer .footer3 .footerText-right {
  margin-right: 40px;
}

@media (max-width: 600px) {
  .footer-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .footer-up h4 {
    margin-right: -10px !important;
  }
  .footer-up img {
    margin: 10px 20px 20px 20px;
  }
  .footer-up form input {
    margin-left: 30px;
    width: 200px !important;
  }
  .footer-down {
    height: 200px !important;
  }
  .footer-down .footerIcons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center !important;
  }
  .footer-down .footerUl {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-down .navLinks {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-down .navLinks p {
    font-size: 16px !important;
  }
  .footer-down .div-margin {
    margin-left: 50px !important;
  }
  .footer-down i {
    -ms-flex-item-align: end !important;
        -ms-grid-row-align: end !important;
        align-self: end !important;
  }
  .footer-down .col-md-8 {
    margin-left: 5px;
  }
  .footer-down .column1 .p1 {
    margin-right: 50px !important;
  }
  .footer-down .column1 .p2 {
    margin-left: 40px !important;
  }
  .footer3 {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    height: 100px !important;
    margin-left: 20px !important;
    text-align: center !important;
  }
  .footer3 p {
    text-align: center !important;
    padding: 0px 20px !important;
  }
}

.navbar {
  font-size: 15px;
  font-weight: 500;
  font-weight: 500;
}

.navbar .nav-item {
  margin-left: 20px;
}

.icons-navbar {
  font-family: 'neo-sans-arabic-regular' !important;
}

.icons-navbar i {
  margin-left: -18px !important;
  padding: 10px;
  font-size: 17px;
  color: white;
  background-color: #1d6295;
  border-radius: 50%;
}

.icons-navbar img {
  height: 55px;
  width: 100%;
}

.icons-navbar .box {
  font-family: 'neo-sans-arabic-regular';
  font-size: 14px !important;
  width: 249px;
  height: 46px;
  padding: 11px;
  background-color: #1d6295;
  color: white;
  border-radius: 7px;
  line-height: 0.3;
  text-align: right;
}

@media (max-width: 992px) {
  .icons-navbar {
    display: none !important;
  }
}

.navbar-nav {
  text-align: center;
}

@media (max-width: 900px) {
  .navbar-nav {
    text-align: right !important;
    width: 100%;
  }
  .navbar .collapse .nav-item {
    text-align: right !important;
    margin-bottom: 15px !important;
    border-bottom: 1px solid gainsboro;
  }
  .navbar .collapse .nav-item:last-child {
    text-align: right !important;
    margin-bottom: 15px !important;
    border-bottom: none;
  }
}

.firstSection {
  padding: 0 0px !important;
  margin: 0px;
}

.firstSection h3 {
  font-weight: bold;
  font-size: 19 !important;
}

.firstSection img {
  max-width: 100% !important;
}

.firstSection .section-card p {
  font-size: 18px !important;
  font-family: 'neo-sans-arabic-medium';
}

@media (min-width: 768px) {
  .firstSection .firstSection .text-section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .firstSection .firstSection .text-section .text-content {
    position: absolute;
    right: 0;
    bottom: -120;
  }
}

.section2 .rightSection .card-title {
  font-weight: bold;
  font-size: 18 !important;
}

.section2 .rightSection .card-text {
  font-weight: bold;
}

@media (max-width: 768px) {
  .section2 .rightSection {
    margin-top: 10px !important;
  }
}

.section3 .card {
  height: 490px;
}

.section3 .card-title {
  font-size: 18px !important;
  font-family: 'neo-sans-arabic-medium' !important;
}

@media (max-width: 768px) {
  .section3 .card {
    height: 400px !important;
    margin-top: 10px;
  }
}

.forthSection .section-title {
  color: black !important;
  font-size: 18px !important;
  font-family: 'neo-sans-arabic-medium';
}

.forthSection .card-body p {
  font-size: 16px !important;
  font-weight: bold;
  font-family: 'neo-sans-arabic-medium';
}

@media (min-width: 768px) {
  .forthSection .forthSection .text-section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .forthSection .forthSection .text-section .text-content {
    position: absolute;
    right: 0;
    bottom: -120;
  }
}

.section4img {
  position: block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 193px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

@media (max-width: 1250px) {
  .overlay {
    display: none;
  }
}

.section4icon {
  margin-top: 10px;
  margin-left: 5px;
  padding: 14px;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 25px;
  color: white;
  background-color: #1d6295;
  border-radius: 260px;
  z-index: 3;
}

.section5 .section5header {
  border-radius: 10px;
  padding: 10px;
  background-color: #1e6998;
  height: 90px;
  width: 100%;
  color: white;
}

.section5 .list-group-section5 {
  padding: 10px;
}

.section5 .list-group-section5 .list-group-item {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: #1d6295;
  border-top: 1px solid #1d6295;
  border-left-color: #fff;
  border-right-color: #fff;
}

.section5 .btn {
  background-color: #1e6998;
  color: white;
  width: 150px;
}

.section5 .checkbox-form {
  margin-right: 20px;
}

.section5 ::-webkit-input-placeholder {
  color: #a5a5a5 !important;
}

.section5 :-ms-input-placeholder {
  color: #a5a5a5 !important;
}

.section5 ::-ms-input-placeholder {
  color: #a5a5a5 !important;
}

.section5 ::placeholder {
  color: #a5a5a5 !important;
}

.section5 select {
  color: #a5a5a5;
}

.section5 .input-control.success input,
.section5 .input-control.error textarea {
  border-color: #09c372;
}

.section5 .input-control.error input,
.section5 .input-control.error textarea {
  border-color: #ff3860;
}

.section5 .input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

.section5 .drop-down.success select {
  border-color: #09c372;
}

.section5 .drop-down select {
  border-color: #ff3860;
}

.section5 .drop-down .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

@media (max-width: 768px) {
  .section5 .rightside {
    width: calc(100% - 20px);
  }
  .section5 .rightside .card {
    margin-top: 5px;
    margin-right: 25px;
  }
  .section5 .btn {
    width: 100% !important;
  }
  .section5 .list-group-section5 li {
    width: 320px !important;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .checkbox-form {
    width: 100%;
    margin-right: 10px !important;
  }
  .checkbox-form .input {
    width: 100% !important;
  }
}

.doctors {
  margin-top: 15px;
  padding: 30px 0;
}

.doctors img {
  -o-object-fit: cover;
     object-fit: cover;
}

.doctors .circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.doctors i {
  background-color: #1c4261;
  color: #FFF;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  line-height: 75px;
}

.doctors h3 {
  color: black;
  font-size: 22px;
}

.doctors p {
  color: #989898;
}

@media (max-width: 768px) {
  .doctors .circle {
    margin-left: auto;
    margin-right: auto;
    background-color: #51b0d3;
  }
  .doctors img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 270px !important;
    width: 100% !important;
  }
}

.section7 {
  height: 300px;
}

.section7 .card {
  background: none !important;
}

.section7 p {
  font-size: 16px !important;
}

.section7 .text-content7 .card-title {
  color: black;
  font-size: 18px !important;
  font-family: 'neo-sans-arabic-medium';
}

.section7 .text-content7 p {
  font-size: 16px !important;
}

.card-deck .card-text {
  font-size: 16px !important;
  font-family: 'neo-sans-arabic-medium' !important;
}

@media (max-width: 768px) {
  .section7 .text-content7 .card-title {
    font-size: 20px !important;
    margin-top: 70px;
  }
}

@media (max-width: 768px) {
  .section7cards {
    margin-top: 230px !important;
  }
}

@media (max-width: 768px) {
  .text-section {
    position: relative;
  }
  .text-section .text-content {
    position: absolute;
    right: 0;
    bottom: -40;
  }
}

@media (max-width: 768px) {
  .rightsideDetails {
    padding: 0 !important;
    margin-right: 0 !important;
    margin-left: 15 !important;
    width: 100%;
  }
}

select {
  direction: rtl !important;
}

* .container {
  padding: 0 15px;
}

* .card-deck {
  padding: 0px;
  margin: 0px !important;
}

@media (min-width: 768px) {
  .text-section {
    position: relative;
  }
  .text-section .text-content {
    position: absolute;
    right: 0;
    bottom: -40;
  }
}

@media (max-width: 768px) {
  .section-card {
    margin: 15px;
  }
}

@media (max-width: 768px) {
  .lastlink {
    margin: 0px !important;
  }
  .text-danger {
    display: none;
  }
  .form-check-label {
    margin-left: 70px;
  }
}
/*# sourceMappingURL=style.css.map */