p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'neo-sans-arabic-regular' !important;
}

.section-title {
  font-family: "Neo Sans Arabic Medium" !important;
  font-size: 18px;
  color: #1d6295;
  font-weight: bold;
}

.section-text {
  font-family: 'neo-sans-arabic-regular' !important;
  font-size: 16px;
}

@font-face {
  font-family: 'neo-sans-arabic-regular';
  src: url("../fonts/neo-sans-arabic-regular.ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Neo Sans Arabic Medium";
  src: url("7668f634eb4865a48f04d52ea3fb9b27.eot");
  /* IE9*/
  /* iOS 4.1- */
}

.carousel {
  margin-top: 10px;
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .carousel .carousel-control-prev-icon {
    padding: 20px;
    margin-top: 250px;
    margin-left: 200px;
    background-color: black;
    -webkit-filter: invert(1);
            filter: invert(1);
    height: 10%;
    width: 50%;
  }
  .carousel .carousel-control-next-icon {
    padding: 20px;
    margin-top: 250px;
    margin-right: 200px;
    background-color: black;
    -webkit-filter: invert(1);
            filter: invert(1);
    height: 10%;
    width: 50%;
  }
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.caption {
  height: 100px;
  width: 800px;
  background-color: #1c4261;
  color: white !important;
  opacity: 0.8;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.divider {
  margin-top: 30px !important;
  padding: 20px;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  margin-bottom: 10px;
  background-size: 900px;
}

.divider i {
  font-size: 30px;
  margin-top: 23px;
  color: #51b0d3;
  margin-left: 20px;
}

.divider .hr-divider {
  background-image: url("../images/divider.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 900px;
  z-index: 3;
  margin-bottom: 10px;
}

.divider p {
  color: #1c4261;
  font-size: 20px;
  font-weight: bold;
  margin-top: 23px;
}

.card {
  background-color: #f3f7fa;
  margin: 5px;
  background-color: #f3f7fa !important;
  border: none !important;
}

.card .section-card {
  background-color: white !important;
  border: none !important;
}

.card .card-title {
  font-size: 18px;
  color: #1d6295;
}

.card .card-text {
  font-size: 16px;
}

.Section {
  background-color: #f3f7fa;
}

.btn-secondColor {
  background-color: #1d6295 !important;
  color: white !important;
  width: 90px;
  padding: 10px;
}

footer {
  margin-top: 70px;
}

footer .footerbg1 {
  background-color: #f9f9f9;
}

footer .footerbg2 {
  background-color: #f2f2f2;
}

footer .footerbg3 {
  background-color: white;
}

footer .footer-up {
  padding-top: 15px;
  padding-bottom: 10px;
}

footer .footer-up i {
  font-size: 30px;
  margin: 15px;
}

footer .footer-up img {
  margin-top: 15px;
  height: 50px;
  margin-right: 0px;
}

footer .footer-up .input {
  width: 250px;
}

footer .footer-down {
  padding-top: 10px;
  height: 60px;
}

footer .footer-down .footerUl {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

footer .footer-down i {
  padding: 7px;
  font-size: 16px;
  margin: 3px;
  background-color: #51b0d3;
  color: white;
  border-radius: 50%;
}

footer .footer-down li a {
  color: #1d6295;
  font-size: 18px;
  font-weight: bold;
}

footer .footer3 {
  color: #51b0d3;
  font-size: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}

footer .footer3 .footerText-left {
  margin-left: 30px;
}

footer .footer3 .footerText-right {
  margin-right: 40px;
}

.navbar {
  font-size: 15px;
  font-weight: 500;
  font-weight: 500;
}

.navbar .nav-item {
  margin-left: 20px;
}

.icons-navbar i {
  margin-left: -18px !important;
  padding: 10px;
  font-size: 17px;
  color: white;
  background-color: #1d6295;
  border-radius: 50%;
}

.icons-navbar img {
  height: 55px;
  width: 100%;
}

.icons-navbar .box {
  font-size: 14 px !important;
  width: 249px;
  height: 46px;
  padding: 11px;
  background-color: #1d6295;
  color: white;
  border-radius: 7px;
  line-height: 0.3;
  text-align: right;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 992px) {
  .divider .hr-divider {
    display: none;
  }
}

@media (max-width: 992px) {
  .icons-navbar {
    display: none !important;
  }
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 600px) {
  .footer-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .footer-up h4 {
    margin-right: -10px !important;
  }
  .footer-up img {
    margin: 10px 20px 20px 20px;
  }
  .footer-up form input {
    margin-left: 30px;
    width: 200px !important;
  }
  .footer-down {
    height: 200px !important;
  }
  .footer-down .footerIcons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center !important;
  }
  .footer-down .footerUl {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-down ul {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .footer-down ul .ul2nd li {
    margin: 15px;
  }
  .footer-down i {
    -ms-flex-item-align: end !important;
        -ms-grid-row-align: end !important;
        align-self: end !important;
  }
  .footer3 {
    margin-top: 10px !important;
    height: 100px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .text-section {
    position: relative;
  }
  .text-section .text-content {
    position: absolute;
    right: 0;
    bottom: -40;
  }
}

@media (min-width: 768px) {
  .forthSection .text-section,
  .firstSection .text-section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .forthSection .text-section .text-content,
  .firstSection .text-section .text-content {
    position: absolute;
    right: 0;
    bottom: -120;
  }
}

@media (max-width: 767px) {
  .doctors .circle {
    margin-left: auto;
    margin-right: auto;
  }
  .doctors img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 270px !important;
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .checkbox-form {
    margin-right: 10px !important;
  }
}

@media (min-width: 768px) {
  .text-section7 {
    position: relative;
  }
  .text-section7 .text-content {
    position: absolute;
    right: 0;
    bottom: -30;
  }
}

@media (max-width: 768px) {
  .section7cards {
    margin-top: 290px !important;
  }
}

@media (max-width: 768px) {
  .text-section {
    position: relative;
  }
  .text-section .text-content {
    position: absolute;
    right: 0;
    bottom: -40;
  }
}

@media (max-width: 768px) {
  .rightsideDetails {
    padding: 0 !important;
    margin-right: 0 !important;
    margin-left: 15 !important;
    width: 100%;
  }
}

.firstSection h3 {
  font-weight: bold;
  font-size: 19 !important;
}

.firstSection img {
  max-width: 100% !important;
}

.firstSection .section-card p {
  font-size: 17px !important;
  font-weight: bold;
}

.section2 .rightSection .card-title {
  font-weight: bold;
  font-size: 18 !important;
}

.section2 .rightSection .card-text {
  font-weight: bold;
}

.section3 .card {
  height: 490px;
}

.section3 .card-title {
  font-size: 20px !important;
  font-family: bold !important;
}

.forthSection .section-title {
  color: black !important;
  font-size: 24px !important;
  font-weight: bold !important;
}

.forthSection .card-body p {
  font-size: 19px !important;
  font-weight: bold;
}

.section4img {
  position: block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.section4icon {
  margin-top: 10px;
  margin-left: 5px;
  padding: 14px;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 25px;
  color: white;
  background-color: #1d6295;
  border-radius: 260px;
  z-index: 3;
}

.section5 .rightside p {
  font-size: 15px !important;
}

.section5 .section5header {
  border-radius: 10px;
  padding: 10px;
  background-color: #1e6998;
  height: 90px;
  width: 100%;
  color: white;
}

.section5 .list-group-section5 {
  padding: 10px;
}

.section5 .list-group-section5 .list-group-item {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: #1d6295;
  border-top: 1px solid #1d6295;
  border-left-color: #fff;
  border-right-color: #fff;
}

.section5 .btn {
  background-color: #1e6998;
  color: white;
  width: 150px;
}

.section5 .checkbox-form {
  margin-right: 20px;
}

.section5 ::-webkit-input-placeholder {
  color: #a5a5a5 !important;
}

.section5 :-ms-input-placeholder {
  color: #a5a5a5 !important;
}

.section5 ::-ms-input-placeholder {
  color: #a5a5a5 !important;
}

.section5 ::placeholder {
  color: #a5a5a5 !important;
}

.section5 select {
  color: #a5a5a5;
}

.doctors {
  margin-top: 15px;
  padding: 30px 0;
}

.doctors .circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.doctors i {
  background-color: #1c4261;
  color: #FFF;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  line-height: 75px;
}

.doctors h3 {
  color: black;
  font-size: 22px;
}

.doctors p {
  color: #989898;
}

.section7 {
  height: 300px;
}

.section7 .card {
  background: none !important;
}

.section7 p {
  font-weight: bold !important;
  font-size: 19px !important;
}

.section7 .text-content7 .card-title {
  font-size: 20px !important;
}

.section7 .text-content7 p {
  font-size: 16px !important;
}

select {
  direction: rtl !important;
}
/*# sourceMappingURL=style.css.map */